.LeftSideBar__TopSection {
  width: 100%;
  height: 4em;
  background-color: white;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;  
}