.LeftSideBar__container__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition:all ease 0.5s;  
  z-index: 1;
}

.LeftSideBar__container__overlay--show {
  opacity: 0.5;
  visibility: visible;
}

.LeftSideBar__container__overlay--hide {
  opacity: 0;
  visibility: hidden;
}